body{

    background-color: #2e2727;
}
h1 {
    color: white;
}
h2{
    color: red;
}
p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    background-color: red;
    height: 50px;
    width: 200px;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    color: white;
}